@use '../styles/_variables' as var;

.editor-form {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto auto 1fr;
  height: 100%;

  > h2 {
    grid-row: 1 / 2;

    font-size: 1.5rem;
    color: var.$mainDark;
    position: relative;
    margin-bottom: 25px;
    
    &:after {
      $padding: 20px;
      display: block;
      content: '';
      position: absolute;
      bottom: -10px;
      left: -$padding;
      width: calc(100% + #{$padding}*2);
      height: 2px;
      background-color: var.$mainDark;
    }
  }
  
  div.editor-inputs {
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    row-gap: 12px;
    
    
    .editorGroup {
      display: flex;
      flex-direction: column;
      
      > label {
        font-size: 1.07rem;
        margin-bottom: 4px;
        color: #5d5d5d;
      }
      
      > input, > textarea {
        border: 1px solid hsl(0, 0%, 70%);
        border-radius: 5px;
        padding: 5px;
      }
      
      input[type=checkbox] {
        margin-left: 10px;
        vertical-align: middle;
      }
    }
  }

  div.editor-user-adder {
    grid-row: 3 / 4;
    justify-self: center;
  }

  div.editor-footer {
    grid-row: -2 / -1;
    align-self: end;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
    div.editor-footer-checkbox { 
      grid-column: 1 / 2;
      grid-row: 1 / 2;
      
      label {
        margin-left: 5px;
      }
    }
    
    input.editor-footer-submit {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      justify-self: start;

      background: white;
      color: #444;
      padding: 8px;
      border: 2px solid #888;
      border-radius: 15px;
      cursor: pointer;
      
      transition: all 50ms ease-in-out;
      
      &:hover {
        background: var.$mainColor;
        color: white;
        border-color: var.$mainColor;
      }
    }
    button {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      justify-self: end;
      
      background: none;
      color: #444;
      padding: 8px;
      border: 2px solid #888;
      border-radius: 15px;
      cursor: pointer;

      transition: all 50ms ease-in-out;

      &:hover {
        background: #444;
        color: white;
        border-color: #444;
      }
    }
  }
}