$mainColor: #509CF0;
$mainDark: #3D5FD9;
$accentColor: #45F8F6;
$dark1: #3D5FD9;
$dark2: #4D45F8;

$green: #43cd34;
$red: #CD3441;

// https://shadows.brumm.af/
$cardShadow:
0 2.8px 3.5px -20px rgba(0, 0, 0, 0.02),
0 6.7px 8.4px -20px rgba(0, 0, 0, 0.028),
0 12.5px 15.9px -20px rgba(0, 0, 0, 0.035),
0 22.3px 28.4px -20px rgba(0, 0, 0, 0.042),
0 41.8px 53.1px -20px rgba(0, 0, 0, 0.05),
0 100px 127px -20px rgba(0, 0, 0, 0.07)
;
