// $mainColor: #99F532;
// $mainDark: #79C227;
// $accentColor: #BDF77B;
// $dark1: #4A7517;
// $dark2: #5A753B;
$mainColor: #509CF0;
$mainDark: #3D5FD9;
$accentColor: #45F8F6;
$dark1: #3D5FD9;
$dark2: #4D45F8;
