.agenda-table {
    border: 2px solid black;
    border-collapse: collapse;
}

.agenda-date {
    vertical-align: top;
    border: 1px solid black;
    padding: 10px;
}

.agenda-time {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

.agenda-detail {
    border: 1px solid black;
    padding: 10px;
}