@use "./components/styles/variables.scss" as var;

.main-layout {
    display: grid;
    grid-template-columns: [first] 1fr [content-start] min(100%, 1024px) [content-end] 1fr [last];
    grid-template-rows: [nav-start] 70px [content-start] 1fr [last];

    background-color: #f7f7f7;
    height: 100%;

    .main-navbar {
        grid-column: first / last;
        grid-row: nav-start / content-start;
    }

    .main-content {
        grid-column: content-start / content-end;
        grid-row: content-start / last;
        
        margin-top: 30px;
        
        padding: 10px;
    }
}